{{ template "base.html" . }}

{{ define "head"}}
<title>同步 | {{ .Site.Title }}</title>
{{ end }}

{{ define "content" }}
<button type="button" onclick="gitpull()">git pull</button>
<pre id="out"></pre>

<script>
    function gitpull() {
        document.getElementById("out").innerText = "pulling...";
        fetch("/gitpull", {
            method: "POST",
        }).then(res => res.json()).then(data => {
            document.getElementById("out").innerText = data.msg+"\nout: "+data.sout+"err: "+data.serr;
        }).catch(err => {
            document.getElementById("out").innerText = data.msg+"\nout: "+data.sout+"err: "+data.serr;
        });
    }
</script>
{{ end }}