{{ template "base.html" . }}

{{ define "content" }}
<ul class="note-list">
    {{- range .list -}}
    <li>
        <div class="note-header">
            <div class="note-title">
                {{- if and .Publish $.Auth.IsLogin -}}<span style="color: var(--primary); margin-right: 0.25rem;">🌐</span>{{- end -}}<a href="/note/{{.FullTitle}}">{{- .FullTitle -}}</a>
            </div>
            <div class="note-date">
                {{- date "2006-01-02" .Created -}}
            </div>
        </div>
        <div class="tags">
            {{- range .Tags -}}
            <a href="/tag/{{.}}">#{{.}}</a>
            {{- end -}}
        </div>
    </li>
    {{- end -}}
</ul>
<nav class="pagination">
    {{- if eq .prePageIndex 0 -}}
    <a href="/">上一页</a>
    {{- else if gt .prePageIndex 0 -}}
    <a href="/page/{{.prePageIndex}}">上一页</a>
    {{- end -}}
    {{- if gt .nexPageIndex -1 -}}
    <a href="/page/{{.nexPageIndex}}">下一页</a>
    {{- end -}}
</nav>
{{ end }}