{{ template "base.html" . }}

{{ define "head"}}
<title>搜索 | {{ .Site.Title }}</title>
{{ end }}

{{ define "content" }}
<div class="search">
    <form action="/search" method="get">
        <div class="form-group">
            <label for="keyword">关键词</label>
            <input type="text" name="keyword" id="keyword" placeholder="请输入搜索关键词">
        </div>
        <button type="submit">搜索</button>
    </form>
    <div class="result">
        {{- range .SearchResults -}}
        <div class="item">
            {{- if eq .HitTitle "" -}}
            <div class="title"><a href="/note/{{.FullTitle}}">{{.FullTitle}}</a></div>
            {{- else -}}
            <div class="title"><a href="/note/{{.FullTitle}}">{{ .HitTitle | SafeHTML }}</a></div>
            {{- end -}}
            <div class="hit-text">
                {{- range .HitText -}}
                <div>{{ . | SafeHTML }}</div>
                {{- end -}}
            </div>
        </div>
        {{- else -}}
        <div>没有找到结果</div>
        {{- end -}}
    </div>
</div>
{{ end }}