<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{- if .info.Title -}} {{ .info.Title }} | {{- end }} {{ .Site.Title }}</title>

    {{- if .IsNote -}}
    <meta name="description" content="{{ .info.Title }}">
    <meta name="author" content="macd">
    <meta name="keywords" content="{{join ", " .info.Tags}}">
    <meta property="og:title" content="{{ .info.Title }}">
    <meta property="og:description" content="{{ .info.Title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="/note/{{ .info.FullTitle }}">
    <meta property="article:published_time" content="{{date "2006-01-02T15:04:05Z07:00" .info.Created }}">
    <meta property="article:modified_time" content="{{date "2006-01-02T15:04:05Z07:00" .info.Updated }}">
    <meta itemprop="name" content="{{ .info.Title }}">
    <meta itemprop="description" content="{{ .info.Title }}">
    <meta itemprop="datePublished" content="{{date "2006-01-02T15:04:05Z07:00" .info.Created }}">
    <meta itemprop="dateModified" content="{{date "2006-01-02T15:04:05Z07:00" .info.Updated }}">
    <meta itemprop="keywords" content="{{join ", " .info.Tags}}">
    {{- end -}}

    <link rel="stylesheet" href="/assets/main.css">

    {{- if and .IsNote .ExtInfo.mathjax -}}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{- end -}}
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logowrap">
                <a class="logo" href="/">{{ .Site.Title }}</a>
            </div>
            <nav class="site-navbar">
                <ul>
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/search">查询</a>
                    </li>
                    <li>
                        <a href="/tag">标签</a>
                    </li>
                    <!-- <li>
                        <a href="/archive">归档</a>
                    </li> -->
                    {{- if not .Auth.IsLogin -}}
                    <li>
                        <a href="/auth">登录</a>
                    </li>
                    {{- else -}}
                    <li>
                        <a href="/gitpull">git pull</a>
                    </li>
                    {{- end -}}
                </ul>
            </nav>
        </header>

        <main class="content">
            {{block "content" .}}
            {{end}}
        </main>

        <footer>
            <p>
                by macd | <a href="https://github.com/MACDfree" target="_blank">GitHub</a> | <a href="mailto:macdfree@163.com">Email</a>
            </p>
        </footer>
    </div>

</body>

</html>